{% block all %}
<!doctype html>
  <html>
  {% block head_outer %}
    <head {{bp_head_attributes|default('')|raw}}>
      {% block head %}
        {% block head_meta %}
{#           <meta charset="utf-8">#}
{#         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">#}
		  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
          <meta name="description" content="{% block head_meta_description %}{% endblock %}">
          <meta name="keywords" content="{% block head_meta_keywords %}{% endblock %}">
          <meta name="viewport" content="width=device-width">
        {% endblock head_meta %}

        <title>{% block head_title %}{% endblock %}</title>

        {% block head_css %}
		<link rel="stylesheet" href="{{ asset('bundles/sursecurity/css/menu.css') }}">
    	<style type="text/css">
    		#cssmenu span {
				/*border: 1px solid transparent;
				 width: 144px;
				padding: 3px 10px;*/
				display: block;
				color: #666666;
				line-height: 160%;
				padding: 11px 28px 11px 28px;
			}
			#page{
				width: 1000px;
				margin: 0px auto;
			}
			#container{
				padding: 10px;
				/*display: inline-block;*/
				min-width: 780px;
				max-width: 1000px;
				min-height: 200px;
				margin: 0px auto;
			}
    	</style>
        {% endblock %}

        {% block head_js %}

        {% endblock %}
      {% endblock head %}
    </head>
  {% endblock head_outer %}
  {% block body_outer %}
    <body>
      {%block body%}
        {%block body_container%}
          <div id="container">
            <header>
              {% block body_container_header %}
	              {% block menu %}
		            <div id="cssmenu">
					{{ knp_menu_render('SURSecurityBundle:Builder:mainMenu') }}
					</div>
	              {% endblock %}
              {% endblock %}
            </header>
            <div role="main">
              {% block body_container_main %}{% endblock %}
            </div>
            <footer>
              {% block body_container_footer %}{% endblock %}
            </footer>
          </div>
        {%endblock body_container%}
        {% block body_js %}

        {% endblock body_js %}
      {% endblock body %}
    </body>
  {% endblock body_outer %}
</html>{% endblock all %}